<header class="section">

  <!-- container -->
  <div class="container">
    <h1>JlEntrePrise</h1>
    <p class="hide-small">La solution évenementielle du moment.</p>

    <nav class="site-nav">
      <ul class="group">
        <li><a href="/">Accueil</a></li>
        <li><a href="/prestataireRegister">Je suis prestataire</a></li>
        <li><a href="/register">M'inscrire</a></li>
        <li class="hide-small"><a href="/login">Connexion</a></li>
        <li class="hide-small"><a href="#">Deconnexion</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div><!-- /container -->

</header>

<div class="content-area group section">

  <!-- container -->
  <div class="container">

    <!-- row -->
    <div class="row">

      <!-- col -->
      <div class="col col-md-8 push-down-sm">

        <h2>Welcome to the page!</h2>
