<div *ngIf="prestataire">

  <img src="{{prestataire.photo}}" alt="image">

  <div class="coordoneesPrestaaire">

    <div>
      <h2> {{prestataire.title}}</h2>

    </div>

    <p>{{prestataire.name}}</p>
    <p>{{prestataire.ville}}</p>
    <p>{{prestataire.email}}</p>
    <p>{{prestataire.telephone}}</p>
    <div>
      <h3>Experience</h3>
      <p>

        {{prestataire.experience}}
      </p>
    </div>
    <!-- <p>Tarif : {{prestataire.tarif}} €</p> -->
  </div>

  <div class="core_prestat1">


  </div>

  <button class="button-mission" routerLink="mission" routerLinkActive="prestataire.name">Proposer une
    mission</button>

  <button class="btn btn-default" (click)="onBack()">Retour</button>



</div>
